<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adminstrator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="head"><h1>Available appointments</h1></div>
    {% for appoints in all_appointments %}
    <div id="cat"><h3>{{appoints.id}}. <br>
        Date: {{appoints.date}} <br>
        Style: {{appoints.style}} <br>
        Customer Name: {{appoints.customer_name}}</h3></div>
    {% endfor %}<br>
</body>
</html>