<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="header"> <p><a href="{{url_for('dashboard')}}"><button>Dashboard</button></a></p> <h2>Schedule Appointment</h2></div>
<br><br>
    <div class="holder">
    <div class="login-container">
    <form method="POST" enctype="multipart/form-data">
       Date: <input type="date" name="date" required> <br><br>
       Time: <input type="time" name="time" required> <br><br>
       Style:
       <select name="style" id="category" required>
        <option value="Fade">Fade</option>
        <option value="Clean">Clean</option>
        <option value="Mohawk">Mohawk</option>
        <option value="Other">Other</option>
        
    </select><br><br> 
    
    <button type="submit" class="sub-btn">Submit</button>
    </form>
</div>
</div>
<br><br>
</body>
</html>