<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cut styles</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-image: url('/static/pics/cutstyle.jpg'); background-size:cover; background-repeat: no-repeat; flex-shrink: inherit;">
    <div id="header"><a href="/" style="color: aliceblue;">HOME</a></div>
    <div id="head"><h1>Our Rates</h1></div>
    <div class="product-container">
        <div class="product-image">
            <table border="3px">
                <tr>
                    <th colspan="3">ADULTS</th>
                </tr>
                <tr>
                    <th>Shave Only</th>
                    <th>Shave & Wash</th>
                    <th>Beards</th>
                </tr>
                <tr>
                    <td>Ksh 100</td>
                    <td>Ksh 150</td>
                    <td>Ksh 50</td>
                </tr>
                <tr>
                    <th colspan="3">KIDS</th>
                </tr>
                <tr>
                    <th>Shave Only</th>
                    <th>Shave & Wash</th>
                </tr>
                <tr>
                    <td>Ksh 50</td>
                    <td>Ksh 100</td>
                </tr>
                <tr>
                    <td colspan="3" style="font-style: italic;">Welcome All</td>
                </tr>
                
            </table>
         </div>
    </div>
  
</body>
</html>