<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="head"><h1>COOLSHAVE KINYOZI</h1><div id="moto" style="font-size:20px; border-radius: 15px;"><h3>Simply The Best<h3></div></div>
    <div style="margin: 0,auto,0,auto; text-align: center; font-size:x-large; background-color: blanchedalmond; padding-bottom:15px;"><br>
        <a href="/templates/cut_style"><button>Pricing</button></a>  |    <a href="/templates/create_account"><button>Create account</button></a>  |  <a href="/templates/login"><button>Login</button></a>
    </div><br><br>
    <div style="margin: 10%,auto,10%,auto; text-align: center; background-color:rgb(30, 95, 233); padding: 20px; border-radius: 1%;">
        <img src="\static\pics\kinyozi.jpg" alt="advert" class="ad-image"></div>
        <br>
        <br> <br>
        
    <div class="footer" >
        <div class="product-container">
       <p>Location: Kwa Vonza, Kitui</p>
       <p>Open hours: Mon - Fri (8:00am - 7:00pm)</p>
       <p>Contact : 0700000000</p>
        </div>
    </div>
    <br>
    <div id="fog">
        Copyright Muoki 2024
    </div>
    <br>
    <br>
</body>
</html>