<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="header"><h3>Available messages </h3></div>
    {% with messages=get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <h4>{{message}}</h4>
                </div>
                {% endfor %}
            {% endif %}
    {% endwith %}
    
    {% for message in m %}
    <br>
    <div id="cat">
        Admin: {{message.message}} <a href="/delete/{{message.id}}"><button>Delete</button></a>
        
    </div>
    {% endfor %}
   <div class="product-container">
        <a href="/templates/booking"><button>Book</button></a>
   </div>
    
</body>
</html>